.container {
  display: flex;
  flex-flow: row wrap;
  //border: solid 1px black;


  .inputData {

    flex-direction: column;
    //border: solid 1px black;
    margin: 5px 5px 5px 5px;
    line-height: 30px;

    &__caption {
      padding-left: 5px;
      height: 30px;
      width: 200px;
      font-size: 20px;
      user-select: none;
    }

    &__input {
      padding-left: 5px;
      height: 30px;
      width: 200px;
    }

  }

  .buttonBlock {
    flex-direction: column;
    margin: 5px 5px 5px 5px;



    &__button {
      width: 90px;
      height: 40px;
      border-radius: 7px;
      background-color: lightgray;
      font-family: sans-serif Arial;
      font-weight: bold;
      line-height: 40px;
      text-align: center;
      border: solid 1px black;
      cursor: pointer
    }


  }

  .table {
    width: 500px;
    align-content: start;
    border: 1px solid black;
    margin: 5px 5px 5px 5px;

    &__tableRow {
      height: 25px;
      border: 1px solid black;

      &-first {
        height: 50px;
      }
    }

    &__tableCell {

      &-number {
        width: 80px;
      }
    }
  }
}




